<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>django模板语法学习</title>
</head>
<body>
  <h1>django模板语法学习</h1>
  <p>{{msg}}</p>
  <ul>
      {% for job in jobs %}
      <li>{{ job }}</li>
      {% endfor %}
  </ul>
  <p>
      {% if state %}
        <span>Good</span>
      {% else %}
        <span>Not Good</span>
      {% endif %}
  </p>
  <hr>
  <div>
      <h2>Personal data</h2>
       {% for key,value in person.items %}
           <p>{{ key }}: {{ value }}</p>
       {% endfor %}
  </div>
  <hr>
  <div>
      <h2>User List</h2>
      <ul>
          {% for user in users %}
          <li>
             {% for k,v in user.items %}
                 <span>{{ k }} : {{ v }}</span>
             {% endfor %}
          </li>
          {% endfor %}
      </ul>
  </div>
</body>
</html>
