<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户列表</title>
    <style>

    </style>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<table>
    <caption>
        <h1> 用户列表</h1>
    </caption>
    <thead>
    <tr>
        <th>用户名</th>
        <th>性别</th>
        <th>年龄</th>
        <th>邮箱</th>
    </tr>
    </thead>
    <tbody>
      <tr>
        <td>小梅</td>
        <td>女</td>
        <td>18</td>
        <td>xiaomei1234@gmail.com</td>
    </tr>
    <tr>
        <td>小天</td>
        <td>男</td>
        <td>18</td>
        <td>xiaotian555@gmail.com</td>
    </tr>
    </tbody>

</table>
<div>
    <img src="/static/scene1.png" alt="风景图片">
</div>
<script src="/static/js/utils.js"></script>
<script>

let max = getMax(1,2,30,4,50)
alert("max=" + max)
</script>
</body>
</html>