{% extends 'layout.html' %}

{% block title %}
    <title>管理员列表</title>
{% endblock %}

{% block content %}
   <div class="container">
        <div style="margin-bottom: 5px;" class="clearfix">
              <a href="/admin/add/" class="btn btn-primary">
                  <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                  新增管理员
              </a>
            <div style="float: right;width:300px;">
                <form method="get">
                    <div class="input-group">
                      <input type="text" name="kw" class="form-control" placeholder="关键字..." value="{{ kw }}">
                      <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </button>
                      </span>
                    </div>
                </form>
            </div>
          </div>
        <div class="panel panel-default">
              <!-- Default panel contents -->
              <div class="panel-heading">
                  <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                  管理员列表
              </div>

             <table class="table table-bordered table-responsive">
              <thead>
              <tr>
                  <th>ID</th>
                  <th>用户名</th>
                  <th>密码</th>
                  <th>重置密码</th>
                  <th>操作</th>
              </tr>
              </thead>
              <tbody>
              {% for ad in admins %}
              <tr>
                  <td>{{ ad.id }}</td>
                  <td>{{ ad.username }}</td>
                  <td>*********</td>
                  <td>
                      <a href="/admin/{{ ad.id }}/reset/" class="btn btn-primary btn-xs">重置密码</a>
                  </td>
                  <td>
                      <a href="/admin/{{ ad.id }}/edit/" class="btn btn-success btn-xs">编辑</a>
                      <a href="/admin/{{ ad.id}}/del/" class="btn btn-danger btn-xs">删除</a>
                  </td>
              </tr>
              {% endfor %}
              </tbody>
          </table>
        </div>
         {#    弹性盒子     #}
         <div class="clearfix">
            {#     分页组件        #}
             <ul class="pagination">
                    {{page_str}}
             </ul>

         </div>
</div>
{% endblock %}